{% extends "base.html" %}

{% block page_content %}
<div class="container.fluid pre-scrollable" style="overflow-y:auto; ">
    <div class="row">
        <div class="col-md-4">
            <h1 style="margin-left:10%;">
                About Me
            </h1>
            <p style="margin-top: 1px;"></p>
            <p style=" max-width: 600px; margin-left: 10%;">
                Hello, and welcome to my portfolio! My name is Paul Kim, and I'm an aspiring Data Scientist! Iam
                currently on my way to get my Master of Science in Analytics at Georgia State University,
                graduatinginDecember 2019. From this program, I was able to expose myself to many different projects,
                subjects, and fellow peers. I use Python as my primary programming language, but I do have experience
                working with R, SAS, Scala, SQL, and more. I thoroughly enjoy learning new tools and am always open to
                learning.
                <br>
                <br>
                If you would like to see the code for all of the projects on this website, I've included my Github
                below. Also, feel free to connect with me at LinkedIn as well. Thank you for looking through my site.
            </p>
            <br>
            <p style="margin-left: 10%">
                <a href="https://github.com/papaulul">
                    <img src="{{url_for('static', filename='github.png')}}" class="img-rounded"
                        style="padding:0 10px; float: left">
                </a>
                <a href="https://www.linkedin.com/in/paulkim9/">
                    <img src="{{url_for('static', filename='linkedin.png')}}" class="img-rounded"
                        style="padding:0 10px; float: left">
                </a>
            </p>

            <br>
            <br>
        </div>
        <div class="col-md-8">
            <p style="margin-right: 10%">
                <img src="{{url_for('static', filename='headshot.jpg') }}" alt="headshot"
                    class="img-rounded center-block"
                    style = "max-height: 30em"> </p>

        </div>

    </div>
</div>
{% endblock %}