{% extends "airbnb.html" %}

{% block tab %}

<body class="about center-here" style="max-width: 1000px; ">
    <p style="font-size: 15px;">
        <h2>
            Problem
        </h2>
        Airbnb has implemented a new program called Airbnb Plus. Airbnb mark listings that they consider to be<a
            href="airbnb.com/plus">"Beautiful homes. Exceptional hosts. Verified for quality."</a>. These listings
        areverified inperson before being approved to qualify. Also, as a host you would need to have a overall rating
        of 4.8 andhaven't cancelled a reservation in the past year. They do have a <a
            href="https://www.airbnb.com/b/plushomechecklist"> checklist</a> avaliable on their website, however they
        seem to be more like guidelines rather than requirements.
        <br>
        Why would owners want to go through the effort to achieve this rating? According to
        <a href="airbnb.com/plus/host">Airbnb</a>:
        <li>
            Plus badge
        </li>
        <li>
            Elevated placement and better visibility in search results
        </li>
        <li>
            All-new design and layout for listing page
        </li>
        <li>
            Professional photography
        </li>
        <li>
            7 times more listing views
        </li>
        <li>
            70% more nights book
        </li>
        <h2>
            Solution
        </h2>
        Using data from <a href="http://insideairbnb.com/get-the-data.html">Inside Airbnb</a> and personally scraped
        data, I will be looking into two cities, Los Angeles and San Fransico. I will try to find if there are some
        key amenities from plus listings that others might be able to use. I will also try to uncover some different 
        listings that are similar to the Plus listings.
    </p>
</body>
{% endblock %}