<!DOCTYPE html>
<html{% block html_attribs %}{% endblock html_attribs %}>

  <head>
    <title>{% block title %}Paul's Portfolio{% endblock title %}</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='trees.ico')}}" type="image/x-icon">
    <link rel="icon" href="{{ url_for('static', filename='trees.ico') }}" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="{{bootstrap_find_resource('css/bootstrap.css', cdn='bootstrap')}}" rel="stylesheet">
    <link href="{{ url_for('static', filename='styles1.css') }}" rel="stylesheet">
  </head>
  <body{% block body_attribs %}{% endblock body_attribs %}>
    <!--Navbar-->
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
              data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Projects</a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                  aria-expanded="false">Airbnb <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="/airbnb">About</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="/airbnb/analysis">Analysis</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="/airbnb/demo">Demo</a></li>
                </ul>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                  aria-expanded="false">TripAdvisor <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="/tripadvisor">About</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="/tripadvisor/analysis">Analysis</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="/tripadvisor/demo">Demo</a></li>
                </ul>
              </li>


            </ul>
            <ul class="nav navbar-nav navbar-right" style="margin-right:1%;">
              <a role="button" href="/aboutme" class="btn btn-danger navbar-btn">About Me</a>
            </ul>
          </div><!-- /.navbar-collapse -->
        </div>
      </div><!-- /.container-fluid -->
      </nav>
      <div style="background-color: whitesmoke">
        {% block page_content %}{% endblock %}
      </div>

      <!--scripts-->
      <script src="{{bootstrap_find_resource('jquery.js', cdn='jquery')}}"></script>
      <script src="{{bootstrap_find_resource('js/bootstrap.js', cdn='bootstrap')}}"></script>
      </body>

      </html>