{% extends "base.html" %}

{% block page_content %}
<div class="pre-scrollable">
    <div class="container-fluida">
        <div class="row-fluid">
            <div class="bg-image">
                <img src="{{ url_for('static', filename='background_md.jpeg')}}">
                <h1a>Paul Kim's Portfolio</h1a>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <h1 class='text-center'>Projects</h1>
        <div class="row">
            <img src="{{url_for('static', filename='airbnb1.png') }}" alt="airbnb" class="img-responsive center-block">
        </div>
        <div class="center-here text-center">
            <a href="/airbnb" role="button" class='btn btn-primary btn-lg '>
                About
            </a>
            <a href="/airbnb/analysis" role="button" class='btn btn-success btn-lg'>
                Analysis
            </a>
            <a href="#" role="button" class='btn btn-info btn-lg '>
                Demo
            </a>
        </div>

        <div class="row">
            <hr>
            <img src="{{url_for('static', filename='tripadvisor1.png') }}" alt="tripadvisor"
                class="img-responsive center-block">
        </div>
        <div class="center-here text-center">
            <a href="/tripadvisor/about" role="button" class='btn btn-primary btn-lg '>
                About
            </a>
            <a href="/tripadvisor/analysis" role="button" class='btn btn-success btn-lg'>
                Analysis
            </a>
            <a href="/tripadvisor/demo" role="button" class='btn btn-info btn-lg '>
                Demo
            </a>
        </div>

        <hr>

    </div>
</div>
{% endblock %}