{% extends "tripadvisor.html" %}

{% block tab %}

<body class="about center-here" style = "max-width: 1000px; ">
    <p style="font-size: 15px;">
        Do you have plans to visit the great city of Atlanta? Are you a frequent traveler that likes to use various
        review websites such as TripAdvisor, Yelp, or Google? If you answered yes to the any of the questions above, I have just
        the solution for you. By giving me your preferences for an ideal hotel and a great review that you've written
        before, I'll be able to produce some recommendations!
        <br>
        <br>
        This is an end to end project, meaning I scraped the data, created the model, and deployed a <a
            href="/tripadvisor/demo">demo</a>. Look into my
        <a href="/tripadvisor/analysis">Analysis</a> to see how I was able to do it! And check out my demo to see what
        hotels I would recommend to you!
    </p>
</body>

{% endblock %}